@charset "utf-8";
/* CSS document for Montreal Accounting Layout Web Page */
/* Developed by: Li */
/* Script Date: Aug 06, 2017 */
/* @media Rule */

* body{
        font-size: 20px;	
	}

header {
    width:1024px;
	height:190px;
    font-family:"Lucida Calligraphy";
    text-align:center;
    margin:0 auto; 
    height:10%;
	float:left;
 	font-size:30px;
	color: black;
	background-image:url(/images/background.jpg);

	}
  

h1{
  height:190px;
  float: left;
  width: 620px;    
}
aside{
  height:225px;
  float: right;
  width:380px;  
}
button{
	border: 1px solid #BBB;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	background-color: lightskyblue;
}

nav {
    width:1680px;
    text-align:center; 
	background-color:#55608f;
    margin:0 auto;    
    height:70px;
  	float:left;
	color:white;
	font-size:25px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 20px;
}
nav a:hover{
	background-color:chartreuse;
}
 /* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
} 
  
h2{
	font-size: 32px;
	text-align: center;
}
h3{ font-size: 25px;
	background-color: lightseagreen;
	color:dimgrey;
}
main {
      width:1680px;
	  height:700px;
	  margin:0 auto;     
      float :left;	  
      padding:10px;
}
.flex-container{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content:center;
	justify-content: center;
	width: 1680px;
	height: 320px;
	}

.flex-item {
	font-size: 30px;
	width: 380px;
	height: 320px;
	margin: 10px;
}
table {
	width: 280px;
	border-collapse: collapse;
	border: 1px solid #BBB;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;	
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
/*
th,
td {
	padding: 15px;
	background-color:darkcyan;
	color: black;
}
*/
th {
	text-align: center;
	
}
	th {
		background-color: lightseagreen;
	}

th:hover, td:hover {
			background-color:greenyellow;
		}
	
	td {
		position: relative;
}

input[type=text], input[type=password] {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.clearfix button {
	background-color:#999;
    color: white;
    padding: 14px 80px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 350px;
	text-align:center;
	
}
footer {
width: 1680px;
height: 70px;
margin: 0 auto 20px auto;
float: left;
background-color:#55608f;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;	
text-align:center;

}
.poweredby a { display: inline !important; }


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1064px or less */
@media screen and (max-width: 1064px) {

header {
width: 728px;
height: 165px;	
}

h1 {
width: 428px;
height: 165px;
float: left;
}
	aside{
		width: 300px;
		height: 165px;
		float: right;
	}
nav{
position: static;
clear: left;
right: 0px;
top: 0px;
margin-left: 40px;
}
	leftside{
		width: 125px;
	}
main { width: 478px; }
	rightside{width: 125px;}
.consultation {
top: 0px;
left: 0px;
width: 170px;
height: auto;
background-image: none;
border: 1px solid #bbb;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 10px;	
margin-bottom: 20px;
position: relative;

}

#consultation form { width: 170px !important; }

.module-input { width: 100% !important; }

.module-text { width: 100% !important; }

.cta-btn {
width: 170px !important;
height: 34px !important;
position: relative;
left: -5px;
border: 0px none;
color: #fff;
line-height: 34px !important;
font-size: 18px !important;
font-weight: bold;
text-align: center;
text-shadow: none;
cursor: pointer;
}

.cta-btn:hover { background-position: 0% -34px; }

.cta-btn:active { background-position: 0% -68px; }

.module { width: 170px; }

.module h2 { font-size: 18px; }

footer { width: 728px;}
	
/* for 728px or less */
@media screen and (max-width: 728px) {	
header {
width: auto;
height: auto;	

}

h1 {
 width: auto;
height:auto;
float: none;
margin: 0 auto;
padding-top: 40px;
text-align: center;
}
	aside{
		width: auto;
		height: auto;
		float: none;
		margin: 0 auto;
		padding-top: 40px;
		text-align: center;
	}

nav { 
width: auto; 
margin: 0 auto;
 }
leftside{
width: auto;
float: none;
margin-right: 0px;
padding-right: 30px;
	}
	main { 
width: auto;
float: none;
margin-right: 0px;
padding-right: 40px;
}
rightside{
width: auto;
float: none;
margin: 0px,30px;
padding: 0,30px;
	}
.consultation { display: none; }


footer { 
width: auto; 
margin-left: 20px;
margin-right: 20px;
text-align:center;
}

a.l:hover { text-decoration: none; }

.poweredby { float: none; }
