@charset "utf-8";
/* CSS document for Montreal Accounting Layout Web Page */
/* Developed by: Li */
/* Script Date: Aug 06, 2017 */
/* @media Rule */

*{
    box-sizing: border-box;
	font-size:15px;
	}

header {
    width:100%;
    font-family:"Lucida Calligraphy";
    text-align:center;
    margin:0 auto; 
    height:10%;
	float:left;
 	font-size:30px;
	}
  

h1{
  height:10%;
  float: left;
  width: 50%;    
}
aside{
  height:10%;
  float: right;
  width:35%;  
}
button{
	border: 1px solid #BBB;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	background-color: lightskyblue;
}

nav {
    width:100%;
    text-align:center; 
	background-color:#55608f;
    margin:0 auto;    
    height:5%;
  	float:left;
	color:white;
	font-size:25px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
nav a:hover{
	background-color:chartreuse;
}
 /* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
} 

leftside{
  width:25%;
  height:80%;
 padding:5px;
  float:left;  
background-position:left;
  }
h2{
	font-size: 25px;
	
}
h3{
	background-color: lightskyblue;
}
main {
      width:50%;
	  height:80%;
	  margin:0 auto;     
      float :left;	  
      padding:10px;
}

table {
	
	width: 60%;
	border-collapse: collapse;
	border: 1px solid #BBB;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;	
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color:darkcyan;
	color: #fff;
}

th {
	text-align: center;
	
}

	th {
		background-color: #55608f;
	}

th,td:hover {
			background-color:lightskyblue;
		}
	
	td {
		position: relative;
}

rightside{
  width:25%;
  height:80%;
  padding:2px;
  float:right;   
  background-position:top;
  margin: auto;
  }
.consultation {
	width: 90%;
	height:100%;
	position: absolute;
	top: 501px;
	right: -18px;
	padding: 20px 0 0 25px;
	z-index: 1000;
}

.consultation h2 { font-size: 23px; }

.consultation form { margin-top: 10px; }

.module-input {
display: block;
width: 90%;
height: 100%;
background-color:#FFF;
border: 1px solid #BBB;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
line-height: 26px;
font-size: 12px;
color: #888;
font-style: italic;
margin-bottom: 10px;
padding: 0 5px;
position: relative;
}

.subscribe .module-input { width: 220px; }
.module-text {
width: 90%;
	height: 100%
padding: 5px;
margin-bottom: 10px;
background-color: #FFF;
border: 1px solid #BBB;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
line-height: 100%;
font-size: 12px;
color:black;
font-style: italic;
overflow: auto;
position: relative;
	
}
.cta-btn {
width: 80%;
height: 70%;
position: relative;
left: -5px;
border: 0px none;
background-color: lightskyblue;
color: #FFF;
font-size: 24px;
font-weight: bold;
text-align: center;
text-shadow: 0 1px 0 #000;
cursor: pointer;
}

.cta-btn:hover { background-position: 0% -46px; }

.cta-btn:active { background-position: 0% -92px; }


.cta-btn-small {
width: 50%;
height: 50%;
position: relative;
left: -5px;
background-color: lightskyblue;	
border: 0px none;
color:#FFF;
line-height: 34px;
font-size: 18px;
font-weight: bold;
text-align: center;
text-shadow: none;
cursor: pointer;
}
 
footer {
width: 100%;
height: 7%;
margin: 0 auto 20px auto;
float: left;
background-color:#55608f;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;	
text-align:center;

}
.poweredby a { display: inline !important; }


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1064px or less */
/*
header {
width: 728px;
height: 165px;	
}

h1{
width: 428px;
height: 165px;
float: left;
}
	aside{
		width: 300px;
		height: 165px;
		float: right;
	}
nav{
position: static;
clear: left;
right: 0px;
top: 0px;
margin-left: 40px;
}
	leftside{
		width: 125px;
	}
main { width: 478px; }
	rightside{width: 125px;}
.consultation {
top: 0px;
left: 0px;
width: 170px;
height: auto;
background-image: none;
border: 1px solid #bbb;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 10px;	
margin-bottom: 20px;
position: relative;

}

#consultation form { width: 170px !important; }

.module-input { width: 100% !important; }

.module-text { width: 100% !important; }

.cta-btn {
width: 170px !important;
height: 34px !important;
position: relative;
left: -5px;
border: 0px none;
color: #fff;
line-height: 34px !important;
font-size: 18px !important;
font-weight: bold;
text-align: center;
text-shadow: none;
cursor: pointer;
}

.cta-btn:hover { background-position: 0% -34px; }

.cta-btn:active { background-position: 0% -68px; }

.module { width: 170px; }

.module h2 { font-size: 18px; }

footer { width: 728px;}
	
/* for 728px or less */
/*media screen and (max-width: 728px) {	
header {
width: auto;
height: auto;	

}

logo {
 width: auto;
height:auto;
float: none;
margin: 0 auto;
padding-top: 40px;
text-align: center;
}
	aside{
		width: auto;
		height: auto;
		float: none;
		margin: 0 auto;
		padding-top: 40px;
		text-align: center;
	}

nav { 
width: auto; 
margin: 0 auto;
 }
leftside {
width: auto;
float: none;
margin-right: 0px;
padding-right: 30px;
	}
	main { 
width: auto;
float: none;
margin-right: 0px;
padding-right: 40px;
}
rightside {
width: auto;
float: none;
margin-right: 0px,30px;
padding-right: 0,30px;
	}
.consultation { display: none; }


footer { 
width: auto; 
margin-left: 20px;
margin-right: 20px;
text-align:center;
}

a.l:hover { text-decoration: none; }

.poweredby { float: none; }*/
