@charset "utf-8";
/* CSS Document */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.clearfix button {
	background-color:#999;
    color: white;
    padding: 14px 80px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
	text-align:center;
	
}

.main{
	padding:16px;
	background-image:url(images/singnupfurm.jpg );
	}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
