@charset "utf-8";
/* CSS Document */

#logo{
	display:inline-block;
	float:left;
}
#login{
	display:inline-block;
	float:right;
	
}
ul {
	clear:both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color:#999;
   
}

li {
    float: left;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:#F09;
}
/*coment */

#main{
	background-image:url(images/imag1.jpg);
	width:7500;
	height:500;
}